@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer utilities {
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .safe-area-padding {
    padding-bottom: max(env(safe-area-inset-bottom), 0.5rem);
  }
}

body {
  -webkit-tap-highlight-color: transparent;
  background-color: #f8fafc;
}
